vf_simplify/simplified_stat_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="VymennyFormat" type="VymennyFormatType">
      <xsd:unique name="unique-statkod">
          <xsd:selector xpath="Data/Staty/Stat"/>
          <xsd:field xpath="@kod"/>
      </xsd:unique>

      <xsd:unique name="unique-krajkod">
          <xsd:selector xpath="Data/Kraje/Kraj"/>
          <xsd:field xpath="@kod"/>
      </xsd:unique>

      <xsd:unique name="unique-okreskod">
          <xsd:selector xpath="Data/Okresy/Okres"/>
          <xsd:field xpath="@kod"/>
      </xsd:unique>

      <xsd:unique name="unique-obeckod">
          <xsd:selector xpath="Data/Obce/Obec"/>
          <xsd:field xpath="@kod"/>
      </xsd:unique>
  </xsd:element>

    <xsd:complexType name="ObceType">
        <xsd:sequence>
            <xsd:element type="ObecType" name="Obec" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ObecType">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="Nazev" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>

        <xsd:attribute type="xsd:nonNegativeInteger" name="kod" use="required"/>
        <xsd:attribute type="xsd:nonNegativeInteger" name="okres" use="required"/>
    </xsd:complexType>

  <xsd:complexType name="OkresyType">
    <xsd:sequence>
      <xsd:element type="OkresType" name="Okres" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OkresType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="Nazev" maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute type="xsd:nonNegativeInteger" name="kod" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="StatyType">
    <xsd:sequence>
      <xsd:element type="StatType" name="Stat"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="VymennyFormatType">
    <xsd:sequence>
      <xsd:element type="DataType" name="Data" maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="KrajType">
    <xsd:sequence>
        <xsd:element type="xsd:string" name="Nazev" maxOccurs="1" minOccurs="1" />
    </xsd:sequence>
    <xsd:attribute type="xsd:nonNegativeInteger" name="kod" use="required"/>
    <xsd:attribute type="xsd:nonNegativeInteger" name="kraj" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="KrajeType">
    <xsd:sequence>
      <xsd:element type="KrajType" name="Kraj" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StatType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="Nazev" maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute type="xsd:string" name="kod" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="DataType">
    <xsd:sequence>
      <xsd:element type="StatyType" name="Staty" maxOccurs="1"/>
      <xsd:element type="KrajeType" name="Kraje" maxOccurs="1"/>
      <xsd:element type="OkresyType" name="Okresy" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>